name: autofix.ci

on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read

concurrency:
  group: autofix-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun update --no-save
      - run: bun cleanup
      - run: bun run build
      - uses: autofix-ci/action@v1
